@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

@layer base {
  input, select, textarea, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* Avoid linter warnings about vertical-align on block elements in built CSS */
  div, section, header, footer, main, nav, article, aside {
    vertical-align: initial;
  }
}
